@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root{
    --cor-primaria:#22D4FD;
    --cor-secundaria:white;
    --cor-terciaria:black;
    --cor-hover:aqua;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
    --fonte-terciaria: 'Fira Sans', sans-serif;
}

*{
    margin:0%;
    padding:0%;
    
}


.html, body{
    height: 100%;
    margin: 0;
}

.cabecalho{
    padding: 3% 0% 0% 16%;
}


.cabecalho__menu{
display: flex;
gap: 80px;
}



.cabecalho_menu_link{
font-family: var(--fonte-primaria);
font-size: 1.6rem;
color:var(--cor-primaria);
font-weight: 600;
text-decoration: none;



}

body{
    background-color:var(--cor-terciaria);
    color:var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box;
}
    
.titulo-destaque{
    color:var(--cor-primaria);
}

.apresentacao{
    padding: 5% 16%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.texto{
    width: 46%;
    display: flex;
    flex-direction: column;
    gap:40px
}

.titulo{
    font-size: 2.25rem;
    width: 593px;
    font-family: var(--fonte-secundaria);
}

.texto-conteudo{
    font-size:1.6rem;
    font-family: var(--fonte-primaria);
}


.subtitulo{
    font-family: var(--fonte-secundaria);
    font-size: 1.6rem;
    font-weight: 400;
}

.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:32px
}

.botao{
    display: flex;
    width: 380px;
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    border: 2px groove var(--cor-primaria);
    justify-content: center;
    align-items: center;
    gap: 10px;  
}

.botao:hover{
    background-color: var(--cor-hover);
    transition: 1s;
    font-size: 2rem;
}

.rodape{
    
    padding: 24px;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;

}

.titulosobremim{
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
    width: 10;
}


.textolorem{
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
}

.listaexp{
    font-size: 1.4rem;
    font-family:var(--fonte-terciaria);
    font-weight: 500;
}
.certificado{
    text-decoration: none;
    color: var(--cor-primaria);

}

.cabecalho_menu_link:hover{
    font-size: 1.8rem;
    transition: 1s;
    color: var(--cor-primaria);

}

.apresentacao__imagem{
    width: 46%;
}


@media (max-width: 1200px) {
    .cabecalho{
        padding: 2%;
       
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .texto{
        width: auto;
    }
}